﻿@model SpodIglyMVC.ViewModels.HomeViewModel
@using SpodIglyMVC.Infrastructure
@{
    ViewBag.Title = "Strona Główna!";
}

<nav class="genres-horizontal">
    <ul>
        @foreach (var item in Model.Genres)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { genrename = item.Name.ToLower() })"
                   style="background-image: url(@Url.GenreIconPath(item.IconFileName)); ">
                    @item.Name
                </a>
            </li>
        }

    </ul>
    <a href="">
        <img id="baner-main" src="../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var arrival in Model.NewArrivals)
        {

            <li>
                <article>
                    <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = arrival.AlbumId })">
                        <img src="../Content/Images/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = arrival.AlbumId })">
                        <div class="newFlag"></div>
                        <img class="album-cover" src="@Url.AlbumCoverPath(arrival.CoverFileName)" />
                        <h1>
                            @arrival.ArtistName - @arrival.AlbumTitle
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</section>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var item in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="aaaa">
                        <img src="../Content/Images/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = item.AlbumId })">
                        <div class="bestsellerFlag"></div>
                        <img class="album-cover" src="@Url.AlbumCoverPath(item.CoverFileName)" />
                        <h1>
                            @item.ArtistName - @item.AlbumTitle
                        </h1>
                    </a>
                </article>
            </li>
        }


    </ul>
</section>