﻿@using SpodIglyMVC.Infrastructure
@model IEnumerable<SpodIglyMVC.Models.Genre>

    <nav class="genres-vertical">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("List", "Store", new { genrename = item.Name.ToString() })"
                       style="background-image: url(@Url.GenreIconPath(item.IconFileName)); ">
                        @item.Name
                    </a>
                </li>
            }


        </ul>
    </nav>
