﻿@model IEnumerable<SpodIglyMVC.Models.Album>
@using SpodIglyMVC.Infrastructure

<div id="productlist-section">
    <ul class="ThreeColumnsCoversList small-cover-list">
        @foreach (var item in Model)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="@Url.Action("AddToCart", "Cart", new { id = item.AlbumId })">
                        <img src="@Url.Content("~/Content/Images/cart.png")" alt="Dodaj do koszyka" />
                    </a>

                    @if (item.IsBestseller)
                    {
                        <div class="bestsellerFlag"></div>
                    }
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { id = item.AlbumId })">
                        <img class="album-cover" src="@Url.AlbumCoverPath(item.CoverFileName)" />
                        <h1>
                            @item.ArtistName - @item.AlbumTitle
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</div>

