﻿@model SpodIglyMVC.ViewModels.CartViewModel
@using SpodIglyMVC.Infrastructure
@{
    ViewBag.Title = "Index";
}

<div id="productlist-content">
    @Html.Action("GenresMenu", "Store")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png" />
            <a href="nav">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>

        <section class="content-section">
            <div class="section-header" style="margin-bottom: 0px;">
                <h1>Twój koszyk</h1>
            </div>

            <table id="cart-table">
                @foreach (var item in Model.CartItems)
                {

                    <tr id="cart-row-@item.Album.AlbumId">
                        <td>
                            <a href="@Url.Action("Details","Store", new { id = item.Album.AlbumId })">
                                <img src="@Url.AlbumCoverPath(item.Album.CoverFileName)" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details","Store", new { id = item.Album.AlbumId })">
                                @item.Album.ArtistName - @item.Album.AlbumTitle
                            </a>
                        </td>
                        <td>Ilość: <span id="cart-item-count-@item.Album.AlbumId">@item.Quantity</span></td>
                        <td>@String.Format("{0:0.##}", item.TotalPrice) zł</td>
                        <td><a class="removeProduct" data-id="@item.Album.AlbumId" href="#">Usuń</a></td>
                    </tr>
                }

                <tr id="cart-empty-message" @if (Model.CartItems != null && Model.CartItems.Count > 0) { <text> class="hidden" </text> }>
                    <td>Twoj koszyk jest pusty. Moze warto cos do niego dodac?</td>
                </tr>

            </table>

            <div id="total-price" style="">
                Razem: <span id="total-price-value">@String.Format("{0:0.##}", Model.TotalPrice) zł</span>
            </div>

            <div class="section-button-container">
                <a class="button-link" href="">Kontynuuj zakupy</a>
                @if (Model.TotalPrice > 0)
                {
                    <a class="button-link" id="cart-button-checkout" href="@Url.Action("Checkout","Cart")">Zapłać</a>
                }
            </div>

        </section>

    </div>
</div>

@section ScriptsBottom
    {
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")

    <script>
        $(function () {
            $(".removeProduct").click(function () {

                var recordToDelete = $(this).attr("data-id");

                if (recordToDelete != '') {

                    // Send post request with AJAX
                    $.post("/Cart/RemoveFromCart", { "albumID": recordToDelete },
                        function (response) {
                            // Success
                            if (response.RemovedItemCount == 0) {

                                $('#cart-row-' + response.RemovedItemId).fadeOut('slow', function () {
                                    if (response.CartItemsCount == 0) {
                                        $("#cart-empty-message").removeClass("hidden");
                                    }
                                });
                            } else {
                                $('#cart-item-count-' + response.RemovedItemId).text(response.RemovedItemCount);
                            }

                            if (response.CartItemsCount == 0) {
                                $('#cart-button-checkout').addClass('hidden');
                                $('#total-price').addClass('invisible');
                            }

                            $('#total-price-value').text(response.CartTotal);
                            $('#cart-header-items-count').text(response.CartItemsCount);

                        });

                    return false;
                }
            });

        });
    </script>
}
