﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="facebook-header" href="">
                DOŁĄCZ DO 1500 FANÓW NA FB
            </a>

            <a id="cart-header-link" href="@Url.Action("Index","Cart")">
                KOSZYK (<span id="cart-header-items-count">
                    @Html.Action("GetCartItemsCount", "Cart")
                </span>)
                <span id="cart-header-logo"></span>
            </a>

            @Html.Partial("_LoginPartial")

        </div>
        <a id="main-header-logo" href="@Url.Content("~/")">
            <img src="../Content/Images/spodigly-logo-main.png" class="center" />
        </a>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                <li><a href="">O nas</a></li>
                <li><a href="@Url.Action("StaticContent", "Home", new { viewname = "Kontakt" })">Kontakt</a></li>
                <li><a href="">Wysyłka</a></li>
                <li><a href="">Regulamin</a></li>
            </ul>
        </nav>
        <div id="footer-cd-logo">
            <img src="@Url.Content("~/content/images/footer-cd.png")" />
        </div>

        <div id="footer-copyright">
            Copyright &copy; 2013 Spod Igły
        </div>
    </footer>
    @RenderSection("ScriptsBottom", required: false)

</body>
</html>
